/*<---          Fixing Navbar           -->*/
.side-nav ul li:nth-of-type(5) a:hover::before {
    width: 0%;
}

/*-- -------------------------- -->
<---          Hero              -->
--- -------------------------- -*/


@media only screen and (min-width: 0em) {

    #main {
        margin: 0px;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
         background-color: #000;
    }

    #hero {
        background: url(../images/map-phone.jpg);
        background-color: #E8E8E8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: auto;
        padding-top: 120px;
        padding-bottom: 70px;
        margin: 70px 0px 0px 0px;
    }

    #hero .contact-info {
        background: var(--primary);
        padding: 36px;
        margin: 16px;
        max-width: 365px;
    }

    #hero .contact-info h2 {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }

    #hero .contact-info a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        color: #c6d1e1;
        text-align: left;
        line-height: 1.5em;
        font-size: 17px;
        margin-bottom: 10px;
    }

    #hero .contact-info a:nth-of-type(2) {
        align-items: flex-start;
        max-width: 249px;
    }

    #hero .contact-info a:nth-of-type(2) img {
        margin-top: 3px;
    }

    #hero .contact-info span {
        color: #c6d1e1;
        display: block;
    }

    #hero .contact-info a img {
        display: inline-block;
        width: 20px;
        margin-right: 16px;
    }

}

/*Small Phones*/
@media only screen and (min-height: 500px) and (max-height: 600px) {

}

/* Landscape Phone */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {

    #hero {
        background: url(../images/map-phone-landscape.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #E8E8E8;
        min-height: auto;
        padding-top: 125px;
        padding-bottom: 70px;
        margin: 70px 0px 0px 0px;
    }

    #hero .contact-info {
        background: var(--primary);
        padding: 36px;
        margin: auto;
        max-width: 365px;
    }

}

/* Tablet */
@media only screen and (min-width: 48em) {

    #hero {
        background-color: #E8E8E8;
        background: url(../images/map-phone-landscape.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: auto;
        padding: 165px 0 165px 0;
        margin: 100px 0px 0px 0px;
    }

    #hero .contact-info {
        background: var(--primary);
        padding: 36px;
        margin: auto;
        max-width: 365px;
    }

    #hero .contact-info a:hover {
        text-decoration: underline;
    }

}

/* Computer Small/Lanscape Tablet */
@media only screen and (min-width: 64em) {

    .side-nav a {
        color: #4a4c4d;
    }
    
    #hero {
        background-color: #E8E8E8;
        background: url(../images/map.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /*background-attachment: fixed;    PARALAX */
        min-height: auto;
        padding: 225px 0 225px 0;
        margin: 100px 0px 0px 0px;
    }

    #hero .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #hero .contact-info {
        margin-left: 0;
    }

}

@media only screen and (min-width: 1300px) {

    #hero .container {
        max-width: 1140px;
        padding-left: 0;
        padding-right: 0;
    }

}

/*-- -------------------------- -->
<---          Form              -->
--- -------------------------- -*/


@media only screen and (min-width: 0em) {

    #form {
        padding-bottom: 20px;
        margin: 16px;
    }
    
    #form h2 {
        font-size: 36px;
    }

    #form p {
        margin-bottom: 37px;
    }

    #form label {
        display: block;
        color: #27292b;
        font-size: 20px;
        margin-bottom: 16px;
    }

    #form input[type="text"],
    #form input[type="email"],
    #form input[type="tel"],
    #form input[type="url"],
    #form textarea {
        display: block;
        height: 63px;
        width: 100%;
        background: #e6f0f5;
        border-radius: 5px;
        margin-bottom: 36px;
        border: none;
        padding-left: 24px
    }

    #form textarea { 
        height: 200px;
    }

    ::placeholder {
        color: #919596;
        font-size: 1.25em;
    }

    #form .form-submit {
        text-align: right;
    }

    #form .button-solid {
        color: #f3f6f9;
    }

    #form .button-solid {
        border: none;
        text-transform: capitalize;
        font-weight: 600;
        margin-left: auto;
    }

}

/*Small Phones*/
@media only screen and (min-height: 500px) and (max-height: 600px) {

}

/* Landscape Phone */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {

}

/* Tablet */
@media only screen and (min-width: 48em) {

    #form {
        padding: 50px 20px 0px 20px;
    }

    #form h2 {
        font-size: 42px;
    }

    #form p {
        padding-bottom: 20px;
        font-size: 1.4em;
    }

    #form form {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #form label {
        margin-left: 0;
        text-align: left;
        font-size: 1.4em;
    }

    #form .input {
        width: 45%;
    }

    ::placeholder {
        font-size: 1.3em;
    }

    #form .message-label {
        display: block;
        width: 100%;
    }

    #form .form-submit {
        width: 100%;
    }

}

/* Computer Small/Lanscape Tablet */
@media only screen and (min-width: 64em) {

    #form {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #form h2 {
        font-size: 40px;
    }

}

@media only screen and (min-width: 1111px){
}

@media only screen and (min-width: 1300px) {

    #form .container {
        max-width: 1140px;
        padding-left: 0;
        padding-right: 0;
    }

    #form input[type="text"],
    #form input[type="email"],
    #form input[type="tel"] {
        width: 534px;
    }

}


/*-- -------------------------- -->
<---        CTA                 -->
--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #cta {
        padding-top: 0px;
        text-align: center;
    }

    #cta h2 {
        font-size: 36px;
        line-height: 44px;
        font-family: "Roboto-Bold", sans-serif;
        margin-bottom: 16px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #cta p {
        font-size: 17px;
        line-height: 1.5em;
        margin-bottom: 24px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Galaxy Fold*/
@media only screen and (min-width: 0px) and (max-width: 299px) {

    #cta p {
        padding-left: 5px;
        padding-right: 5px;
    }    

}

/*Tablet*/
@media only screen and (min-width: 48em) {

    #cta {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    #cta h2 {
        font-size: 42px;
    }

    #cta p {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {

}

/*Computer Small/Lanscape Tablet*/
@media only screen and (min-width: 1024px) {
    #cta {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    #cta .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }

    #cta h2 {
        font-size: 44px;
        text-align: left;
        width: 65vw;
        max-width: 43vw;
        margin-left: 5.1635vw;
        margin-right: auto;
    }

    #cta p {
        font-size: 24px;
        text-align: left;
        width: 65vw;
        max-width: 43vw;
        margin-left: 5.1635vw;
    }
    
    #cta .cta-button {
        max-width: 45vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 5.1635vw;
    }
}

@media only screen and (min-width: 1300px) {

    #cta h2 {
        margin-left: 0;
    }

    #cta p {
        margin-left: 0;
    }

    #cta .cta-button {
        margin-right: 0px;
    }
}

/*landscape_store_mobile_landscape.jpg
landscape_store_wr_tablet.jpg
landscape_store_wr.jpg
landscape_store_1300_lr.jpg*/