/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

body {
    background-color: #f0ffff;
    color: #010d12;
}

/*@font-face {
	font-family: "Roboto";
	src: url('/fonts/Robot-Regular.ttf') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Bold";
	src: url('/fonts/Robot-Bold.ttf') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Italic";
	src: url('/fonts/Robot-Italic.ttf') format('woff2');
	font-display: swap;
}*/


/*	Disable Blue Highling on Link Click	*/
a, .no-highlight {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a:focus, .no-highlight:focus {
    outline: none !important;
}

/*	Allow User Selection of Text	*/
a, p, h1, h2, h3 {
	-webkit-touch-callout: text; 
	  -webkit-user-select: text; 
	   -khtml-user-select: text; 
		 -moz-user-select: text; 
		  -ms-user-select: text; 
			  user-select: text; 
}


@media only screen and (min-width: 0em) {

	section {
		padding: 50px 0px;
	}
	
	.mobile {
		display: block;
	}
	
	.desktop {
		display: none;
	}
    .skip {
		position: absolute;
		opacity: 0;
		z-index: -1000;
	}
	
	* {
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
	}*
	
	html {
		scroll-behavior: smooth !important;
	}

    :root {
		--primary: /*#30579b*/#3660ab;
	}
	
	html, body {
		margin: 0;
		padding: 0;
		overflow-x: hidden !important;
		font-family: "Roboto", sans-serif;
		font-weight: normal;
		scroll-behavior: smooth !important;
	}
	
	a:hover {
		cursor: pointer;
	}
	
	p {
		margin-bottom: 20px;
	}
	
	p, li {
		line-height: 1.3em;
		font-size: 1.3em;
	}
	
	p, a, li, span {
        color: #010d12;
		margin: 0;
		line-height: 28px;
		font-weight: normal;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		line-height: 1.2em;
        color: #010d12;
		margin-bottom: 30px;
	}
	
	.container {
		padding: 0 0px; /*I changed the second one froom 10px*/
		margin: auto;
	}
	
	.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	/* hidden desktop elements */
	
	.topper-flex,
	#brand,
	.call-strip-button,
	.background {
		display: none;
	}
	
	/* Buttons */
	.button-solid {
		color: #f0ffff;
		display: block;
		margin: auto;
		text-align: center;
		text-decoration: none;
		background: var(--primary);
		line-height: 56px;
		min-width: 133px;
		padding: 0 24px;
		border-radius: 5px;
		font-size: 20px;
		font-family: "Roboto", sans-serif;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
		display: inline-block;
	}

	.button-solid:hover {
		background: #30579b/*#30579b*//*#3660ab*/;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
	}
	
	button {
		text-transform: uppercase;
	}
	
	button:hover {
		cursor: pointer !important;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
	}
	
	.button-transparent {
		display: inline-block;
		background: transparent;
		border: 1px solid #f0ffff;
		border-radius: 3px;
		text-align: center;
		font-size: 20px;
		margin: 10px 0;
		padding: 0px 30px;
		color: #f0ffff;
		text-decoration: none;
		-webkit-animation-delay: 0.6s;
				animation-delay: 0.6s;
		border-radius: 3px;
		white-space: nowrap;
		line-height: 50px;
		-webkit-transition: .3s ease;
		-o-transition: .3s ease;
		transition: .3s ease;
	}
	
	.button-transparent:hover {
		color: #fff;
		background: var(--primary);
		border: none;
	}

	.button,
	.button-transparent:active,
	.button-solid:active {
		transform: scale(.97) translateY(2px);
	}
	
	.hamburger {
		padding: 0;
		display: inline-block;
		cursor: pointer;
		-webkit-transition-property: opacity, -webkit-filter;
		transition-property: opacity, -webkit-filter;
		-o-transition-property: opacity, filter;
		transition-property: opacity, filter;
		transition-property: opacity, filter, -webkit-filter;
		-webkit-transition-duration: 0.15s;
			 -o-transition-duration: 0.15s;
				transition-duration: 0.15s;
		-webkit-transition-timing-function: linear;
			 -o-transition-timing-function: linear;
				transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible;
		position: relative;
		z-index: 2000;
	}

	.hamburger:hover {
		opacity: 0.7;
		cursor: pointer;
	}
	
	.hamburger.is-active:hover {
		opacity: 0.7;
		cursor: pointer;
	}
	
	.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
		background-color: #010d12;
	}
	
	.hamburger-box {
		width: 30px;
		height: 24px;
		display: inline-block;
		position: relative;
		z-index: 2000;
	}
	
	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 30px;
		height: 2px;
		background-color: #fff;
		border-radius: 4px;
		position: absolute;
		-webkit-transition-property: -webkit-transform;
		transition-property: -webkit-transform;
		-o-transition-property: transform;
		transition-property: transform;
		transition-property: transform, -webkit-transform;
		-webkit-transition-duration: 0.15s;
			 -o-transition-duration: 0.15s;
				transition-duration: 0.15s;
		-webkit-transition-timing-function: ease;
			 -o-transition-timing-function: ease;
				transition-timing-function: ease;
	}
	
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block;
	}
	
	.hamburger-inner::before {
		top: -10px;
	}
	
	.hamburger-inner::after {
		bottom: -10px;
		width: 20px;
	}
	
	/* * Spring */
	.hamburger--spring .hamburger-inner {
		top: 2px;
		-webkit-transition: background-color 0s 0.13s linear;
		-o-transition: background-color 0s 0.13s linear;
		transition: background-color 0s 0.13s linear;
		-webkit-transition-delay: .22s;
			 -o-transition-delay: .22s;
				transition-delay: .22s;
	}
	
	.hamburger--spring .hamburger-inner::before {
		top: 10px;
		-webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		-o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		-webkit-transition-delay: .22s;
			 -o-transition-delay: .22s;
				transition-delay: .22s;
	}
	
	.hamburger--spring .hamburger-inner::after {
		top: 20px;
		-webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		-o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		-webkit-transition-delay: .22s;
			 -o-transition-delay: .22s;
				transition-delay: .22s;
	}
	
	.hamburger--spring.is-active .hamburger-inner {
		-webkit-transition-delay: 0.22s;
			 -o-transition-delay: 0.22s;
				transition-delay: 0.22s;
		background-color: transparent !important;
		background: #000;
	}
	
	.hamburger--spring.is-active .hamburger-inner::before {
		background: #000;
		top: 0;
		-webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
				transform: translate3d(0, 10px, 0) rotate(45deg);
	}
	
	.hamburger--spring.is-active .hamburger-inner::after {
		background: #010d12;
		width: 30px;
		top: 0;
		-webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
				transform: translate3d(0, 10px, 0) rotate(-45deg);
	}
	
	/*-- -------------------------- -->
	<---         NAVIGATION         -->
	<--- -------------------------- -*/
	
	
	/* Hidden Elements */
	.navbar-menu img,
	.call-us,
	.quote-nav-button {
		display: none;
	}
	
	.main-skip {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
	}
	
	.nav-comb {
		display: block !important;
		position: absolute;
		width: 530px;
		-webkit-transform: rotate(120deg);
			-ms-transform: rotate(120deg);
				transform: rotate(120deg);
		right: -280px;
		top: 350px;
		opacity: .4;
	}
	
	/* Top Mobile Navigation */
	.mobile-wrapper {
		height: 70px;
		-webkit-transition: .3s ease;
		-o-transition: .3s ease;
		transition: .3s ease;
		position: relative;
		z-index: 1000;
		position: absolute;
		width: 100%;
	}
	
	.mobile-nav {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		height: 100%;
		z-index: 100;
	}
	
	.hamburger {
		position: absolute;
		right: 10px;
		top: 5%;/*22px;*/
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
	}

	/* Navigation Links */
	
	.mobile-wrapper img.mobile-logo {
		position: absolute;
		height: 100%;
        margin-bottom: 5px;
		margin-top: 5px;
		left: 30px !important;
	}
	
	.navbar-menu {
		background: #f0ffff;
		width: 0;
		position: absolute;
		right: 0;
		height: 100%;
		-webkit-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		z-index: 100;
		max-width: 1250px;
		margin-left: auto !important;
		margin-right: auto !important;
		overflow: hidden;
	}
	
	.side-nav {
		position: relative;
		padding: 40px 0;
		position: absolute;
		right: 2em;
		-webkit-transition: .3s ease;
		-o-transition: .3s ease;
		transition: .3s ease;
		-webkit-transition-delay: .2s;
			 -o-transition-delay: .2s;
				transition-delay: .2s;
	}
	
	.side-nav ul {
		margin: 0;
		text-align: right;
		list-style: none;
		margin-top: 50px;
		-webkit-transform: translateX(10px);
		    -ms-transform: translateX(10px);
		        transform: translateX(10px);
	}

	.side-nav ul li {
		margin-bottom: 36px;
	}
	
	.side-nav a {
		text-decoration: none;
		padding: 5px 10px 5px 10px;
		-webkit-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		-webkit-transition-delay: .2s;
			 -o-transition-delay: .2s;
				transition-delay: .2s;
		opacity: 0;
		visibility: hidden;
		font-family: 'Raleway', sans-serif;
	}
	
	.side-nav .schedule a {
		display: none;
	}
	
	.active-menu {
		border-right: 4px solid var(--primary);
		color: var(--primary);
		font-weight: bold;
	}

	.facebook-logo-container {
		display: block;
		margin: 0 !important;
		position: absolute;
		right: 15vw;
		height: 40px;
        width: 40px;
		top: 20%;/*2vh*/
		z-index: 99 !important;
	}

	.facebook-logo {
		display: block;
		margin: 0;
		padding: 0; 
		position: absolute;
		height: 40px;
        width: 40px;
		z-index: 99 !important;
		
	}

	.navbar-menu img:nth-of-type(2) {
		display: block;
		margin: 0;
		position: absolute;
		left: 0;
		height: 40px;
        width: 40px;
		top: 0;
	}

	.facebook-logo-container-desktop {
		display: none;
	}

	.facebook-logo-desktop {
		display: none;
	}
}


/* Landscape Phone */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {

	.navbar-menu {
		height: 175vh;
	}

}

/* Tablets */
@media only screen and (min-width: 48em) {

		/* Buttons */
		.button-solid {
			font-size: 22px;
		}

		.button-transparent {
			font-size: 22px;
		}

	/* Top Mobile Navigation */
	.mobile-wrapper {
		height: 100px;
	}

	.hamburger {
		position: absolute;
		right: 20px;
		top: 0%;
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
	}

	/* Navigation Links */
	
	.mobile-wrapper img.mobile-logo {
		left: 7% !important;
		width: 210px;
	}

	

	.facebook-logo-container {
		top: 20%;/*2vh*/
	}

	.facebook-logo {
		height: 50px;
        width: 50px;
	}

	.navbar-menu img:nth-of-type(2) {
		display: block;
		margin: 0;
		position: absolute;
		left: 0;
		height: 40px;
        width: 40px;
		top: 0;
	}
	
	.side-nav ul {
		margin: 0;
		text-align: right;
		list-style: none;
		margin-top: 50px;
		-webkit-transform: translateX(10px);
		    -ms-transform: translateX(10px);
		        transform: translateX(10px);
	}
	
	.side-nav ul li {
		margin-bottom: 36px;
	}

	p, li {
		line-height: 1.8em;
		font-size: 1.8em;
	}

	.side-nav ul li {
		margin-bottom: 35px;
	}
}

/* Small Desktop */
@media screen and (min-width: 1024px) {

	.hamburger {
		display: none;
	}

	.mobile-nav {
        max-width: 100%;
    }

	section {
		padding: 100px 10px;
	}

    p {
        font-size: 1em;
    }

    /* Hidden Elements */
    .mobile-wrapper,
    .nav-comb {
		display: none !important;
	}

	/* Un-Hidden Elements */
	.side-nav a {
		opacity: 1;
		visibility: visible;
	}

	.quote-nav-button {
		display: block;
	}

	.container {
		max-width: 1200px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-menu img {
		display: block;
		margin: 0 !important;
		position: absolute;
		left: 6%;
		height: auto;
        width: 270px;
		top: 0px;
	}

	/*navbar */
	nav {
		width: 100%;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		height: 100px;
	}

	.navbar-menu {
		width: 100%;
		min-height: 100px;
		height: 153px;
		margin: auto;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		z-index: 100;
		left: 0;
		background: transparent;
		overflow: visible;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		max-width: 1200px;
	}

	body {
		position: relative;
	}

	body:before {
		content: '';
		top: 0;
		width: 100%;
		height: 148px;
		background: #f0ffff;
		position: absolute;
		z-index: 1;
		left: 0;/*
		border-bottom: 5px solid var(--primary);*/
	}

	#on-top {
		margin-right: 62px;	
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.side-nav {
		padding: 0;
        width: 100%;
        max-width: 1450px;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
        right: 0;
        background: transparent;
        border-radius: 5px;
	}

	.side-nav ul {
		margin-top: 0;
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0);
	}

	.side-nav ul li {
		margin: 0 35px 0 0;
		text-align: right;
	}

	.call-us {
		font-size: 0.875em;
		line-height: 24px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-weight: normal;
		margin-left: 40px !important;
	}

	.call-us svg {
		width: 20px;
		margin-right: 10px;
		height: auto;
	}

	.side-nav a {
		padding: 20px 0;
		color: #fff;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
        font-size: 26px;
        text-transform: capitalize;
		position: relative;
	}

	.side-nav .schedule a {
		padding-top: 0;
		padding-bottom: 0;
		width: 194px;
		display: none;
	}

	a:hover:nth-of-type(n+5) { /*STANDARD UNDERLINE*/
		text-decoration: underline;
	}

	/*GROWING UNDERLINES START*/


	.side-nav ul li a:before {
		content: '';
		position: absolute;
		display: block;
		height: 4px;
		width: 0%;
		background: var(--primary);
		opacity: 1;
		bottom: 0;
		left: 0;
		-webkit-transition: .5s ease;
		-o-transition: .5s ease;
		transition: .5s ease;
	}

	.side-nav ul li a:hover:before {
		cursor: pointer;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		-webkit-transition: .5s ease;
		-o-transition: .5s ease;
		transition: .5s ease;
		content: '';
		background: var(--primary);
		height: 4px;
		width: 100%;
		position: absolute;
		bottom: -4px;
		left: 0;
	}

	/*GROWING UNDERLINES END*/

	.side-nav .schedule a:hover {
		color: #010d12;
	}

	.side-nav .schedule a:hover:before {
		display: none;
	}

	.side-nav li {
		color: #f0ffff;
	}

	#on-top li  {
		float: right;
	}

	.active-menu {
		border-right: none;
		border-bottom: 4px solid var(--primary);
		text-decoration: none;
    }

	.facebook-logo-container-desktop {
		display: block;
		margin: 0 !important;
		position: absolute;
		right: 2vw;
		height: 50px !important;
        width: 50px !important;
		top: 53px;
	}

	.facebook-logo-desktop {
		display: block;
		margin: 0 !important;
		padding: 0 !important; 
		position: absolute;
		height: 50px !important;
        width: 50px !important;
	}

	.navbar-menu img:nth-of-type(2) {
		display: block;
		margin: 0 !important;
		position: absolute;
		left: 0;
		height: 50px;
        width: 50px;
		top: 0;
	}

	img.facebook-logo {
		position: absolute;
		object-fit: cover;
		padding: 0 !important;
		height: 50px !important;
        width: 50px !important;
	}

}

/* Regular Desktop */
@media screen and (min-width: 1300px) {

	.side-nav .schedule a {
		display: block;
	}

	.facebook-logo-container-desktop {
		right: 0vw;
	}

	.navbar-menu img:nth-of-type(2) {
		display: block;
		margin: 0 !important;
		position: absolute;
		left: 0;
		height: 50px;
        width: 50px;
		top: 0;
	}

	img.facebook-logo {
		position: absolute;
		object-fit: cover;
		padding: 0 !important;
		height: 50px !important;
        width: 50px !important;
	}

}


/* ==========================================================
+                                                           +
+															+
+															+
+															+
+															+
+        		            FOOTER		            		+           
+															+
+															+
+															+
+															+
+															+
+==========================================================*/

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {

	#footer {
		background: #30579b;
		padding: 50px 15px;
	}

	#footer .footer-logo img {
		width: 90%;
		display: block;
        margin-left: auto;
        margin-right: auto;
		padding-bottom: 30px;
	}

	#footer p, #footer li {
		color: #c6d1e1;
		text-decoration: none;
		font-size: 20px;
	}

	#footer p, #footer li a {
		color: #c6d1e1;
		text-decoration: none;
		font-size: 20px;
	}

	#footer p {
		margin-bottom: 24px;
		max-width: 385px;
	}

	#footer .button-solid {
		background: #eaf0f7;
		color: #30579b;
		margin-bottom: 50px;
	}

	#footer .heading {
		color: #eaf0f7;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	#footer ul {
		padding-left: 0;
		padding-bottom: 30px;
	}

	#footer li {
		list-style: none;
		margin-bottom: 8px;
		line-height: 1.5em;
		font-size: 20px;
	}

	#footer .button-solid:hover {
		background: #dadee2;
	}

	#footer li:hover {
		text-decoration: underline;
	}

	#footer .hours-li:hover {
		text-decoration: none;
	}

	#footer li a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	#footer li a img {
		display: inline-block;
		width: 22px;
		margin-right: 16px;
	}

	#footer .credit {
		display: block;
		color: #c6d1e1;
		font-size: 18px;
		line-height: 1.5em;
		text-align: center;
		margin: auto;
		margin-top: 50px;
	}

	#footer .credit a {
		color: #c6d1e1;
		font-size: 18px;
		line-height: 1.5em;
		text-decoration: none;
	}

	#footer .flaticon {
		display: block;
		color: #c6d1e1;
		font-size: 12px;
		line-height: 1.5em;
		text-decoration: none;
		text-align: center;
		margin: auto;
	}

	/*REARRANGING FOOTER*/
	/*CENTERING <P> STACKING LISTS IN COLUMNS*/

	#footer .left-section {
		text-align: center;
		width: auto; /*385px*/
		height: 250px;
		margin-left: 0;
		margin-right: 0;
	}

	#footer li {
		text-align: left;
	}

	#footer .heading {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 250px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	#footer .right-section-bottom{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 150px;
		padding-left: 5px;
		padding-right: 5px;
	}

}

/*Galaxy Fold*/
@media only screen and (min-width: 0px) and (max-width: 300px) {

	#footer {
		padding: 50px 7px;
	}	

	#footer .ft-sub:nth-of-type(1) {
		margin-right: 25px;
	}

	#footer .ft-sub:nth-of-type(2) {
		text-align: center;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 250px;
	}

	#footer .right-section-bottom{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 150px;
	}

}

/*320px Small Phone*/
@media only screen and (min-width: 300px) and (max-width: 340px) {

	#footer {
		padding: 50px 7px;
	}	

	#footer .ft-sub:nth-of-type(1) {
		margin-right: 35px;
	}

	#footer #hours-list {
		margin-left: -25px;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 250px;
	}

	#footer .right-section-bottom{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 150px;
	}

}


/*Narrowest Laptop Window*/
@media only screen and (min-width: 480px) and (max-width: 530px) {

	#footer .ft-sub:nth-of-type(2) {
		padding-left: 20px;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		height: 250px;
	}

}

/* Landscape Phone */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
	
	#footer .footer-logo img {
		width: 70%;
	}

	#footer p {
		max-width: 250px;
	}

	#footer .ft-sub:nth-of-type(2) {
		text-align: left;
	}

	#footer .left-section {
		display: inline-block;
		text-align: left;
		width: 33%;
		height: 270px;
		margin: 0px;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		width: 57%;
		height: 270px;
		-webkit-transform: translateX(68%) translateY(-270px);
		    -ms-transform: translateX(68%) translateY(-270px);
		        transform: translateX(68%) translateY(-270px);
		position: absolute;
		padding: 0px !important;
	}

	#footer .right-section-bottom {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		height: 120px;
		padding-top: 25px;
	}

}

/*Tablet*/
@media only screen and (min-width: 48em) {

	#footer .footer-logo img {
		width: 70%;
	}

	#footer p {
		max-width: 250px;
		line-height: 1.4em;
	}

	#footer .ft-sub:nth-of-type(2) {
		text-align: left;
	}

	#footer .left-section {
		display: inline-block;
		text-align: left;
		width: 33%;
		height: 270px;
		margin: 0px;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		width: 57%;
		height: 270px;
		-webkit-transform: translateX(68%) translateY(-270px);
		    -ms-transform: translateX(68%) translateY(-270px);
		        transform: translateX(68%) translateY(-270px);
		position: absolute;
		padding: 0px !important;
	}

	#footer .right-section-bottom {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		height: 120px;
		padding-top: 0px;
	}
	
	#footer [data-tooltip]:before {
		content: attr(data-tooltip);
		position: absolute;
		opacity: 0;

		-webkit-transition: all 0.4s ease;

		-o-transition: all 0.4s ease;

		transition: all 0.4s ease;
		-webkit-transition-delay: 0.35s;
		     -o-transition-delay: 0.35s;
		        transition-delay: 0.35s;
		padding: 20px;
		width: 200px;
		color: #30579b;
		border-radius: 6px;
		-webkit-box-shadow: 2px 2px 1px black;
		        box-shadow: 2px 2px 1px black;
	}

	#footer [data-tooltip]:hover:before {
		opacity: 1;

		background: #eaf0f7;
		margin-top: -100px;
		margin-left: 40vw;
	}

	#footer .credit:hover {
		text-decoration: underline;
	}

}

/*Computer Small/Lanscape Tablet*/
@media only screen and (min-width: 64em) {

	#footer {
		padding: 50px 25px;
	}

	#footer .footer-logo img {
		width: 55%;
	}

	#footer p, #footer li {
		font-size: 24px;
	}

	#footer p, #footer li a {
		font-size: 24px;
	}

	#footer .heading {
		font-size: 24px;
	}

	#footer li {
		font-size: 24px;
	}

	#footer p {
		max-width: 30vw;
		line-height: 1.4em;
	}

	#footer .ft-sub:nth-of-type(2) {
		text-align: left;
	}
	
	#footer #leftandright{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#footer .right-section-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		width: 50%;
		height: 270px;
		-webkit-transform: translateX(0%) translateY(0px);
		    -ms-transform: translateX(0%) translateY(0px);
		        transform: translateX(0%) translateY(0px);
	}

	#footer .right-section-bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 270px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding-left: 0px;
		padding-right: 0px;
	}

	/*END RESPONSIVE FOOTER TRIAL*/

	#footer .right-section-bottom ul {
		padding-bottom: 20px;
	}

	#footer .credit {
		display: block;
		color: #c6d1e1;
		font-size: 24px;
		line-height: 1.5em;
		text-align: center;
		margin: auto;
		margin-top: 50px;
	}

	
	#footer .credit a {
		font-size: 24px;
	}

	#footer .flaticon {
		font-size: 18px;
		text-align: center;
	}

}

@media only screen and (min-width: 1300em) {
	
	#footer .footer-logo img {
		width: 40%;
	}

}